header {
    min-height: 190px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
header .logo {
    flex: 1;
    margin-bottom: 15px;
}

header a {
    text-transform: uppercase;
    color: #2c2c2c;
    font-weight: bold;
}
header ul li {
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    margin-bottom: 50px;
}
header ul li:hover {
    opacity: 1;

}
.menu {
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
}
.cart-icon span {
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 5px 7px;
    font-size: 10px;
}
.user-name {
    text-transform: capitalize;
    letter-spacing: 2px;
}
.user-name span{
    text-transform: uppercase;
    font-weight: bold;
    color: #000580;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 2px 7px;
    z-index: 1;
    align-items: center;
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: flex;
    margin-top: 3px;
    color:  #000580;
    text-decoration: underline;

}
.dropdown-content hr {
    margin-top: 1px;
}
