.create_product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.upload {
    margin-bottom: 90px;
    margin-top: -230px;
    margin-left: 100px;
    border: 1px solid #3f3f54;
    position: relative;
    height: 40px;
    width: 400px;
}

#file_up {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    font-weight: bold;
}

.upload input {
    font-size: 18px;
}

.create_product form {
    max-width: 500px;
    min-width: 290px;
    width: 100%;
    margin-right: 200px;
    margin-bottom: 120px;

}

.create_product form .row {
    width: 100%;
    margin: 15px 0;
}

.create_product form input, textarea {
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.create_product button {
    width: 200px;
    height: 40px;
    background: #069670;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.row label {
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row select {
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
.row option {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}