.orders-header {
    color: #067aab;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.orders-header p {
    font-size: 19px;
}
.orders {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 30px;
}

.orders-history {
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    border: 1px solid #ccc;
    transform: scaleY(0.98);
    justify-content: center;
    padding: 20px 20px;

}
.orders-history table {
    margin: 20px 75px;
    font-weight: bold;
    font-size: 20px;
}

.orders-history thead {
    background-color: rgba(49, 45, 3, 0.81);
}

.orders-history th {
    color: #d1d6e3;
    padding-left: 14px;
    letter-spacing: 2px;
}
.orders-history td {
    padding-top: 10px;
    padding-left: 40px;
    letter-spacing: 1px;
    font-size: 17px;
    border: 1px solid #ccc;
    font-weight: bold;
}
.orders-history a {
    padding: 5px 5px;
    margin-top: 2px;
    background-color: #be9705;
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;

}
.orders-history a:hover {
    color: #0041cc;
}
.orders-error h2 {
    color: #d70005;
    text-align: center;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 40px;
}

.order-details {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    transform: scaleY(0.98);
}
.orders-history img {
    width: 160px;
    height: 190px;
    padding: 20px 20px;
}
.orders-history span {
    color: #1406d3;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

.order-details h2 {
    color: #030386;
    padding: 10px 20px;
    text-align: center;
    margin-left: 70px;
    font-size: 18px;
    letter-spacing: 2px;
}
.order-details span {
    color: #be9705;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;

}
.order-details p {
    flex-direction: row;
    margin-left: 84px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}
.order-history span {
    color: #1406d3;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.filter-orders {
    display: flex;
    flex-direction: row;
    padding: 10px 100px;
    margin-bottom: 40px;
    margin-top: 30px;
    justify-content: center;
}
.filter-orders button {
    margin-right: 30px;
    background-color: #ff5c00;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.calendar {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 202px;
    right: 295px;
}
.calendar-hidden {
    display: none;
    position: absolute;
    top: 150px;
    right: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 2px 7px;
    z-index: 1;
    align-items: center;
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content span {
    display: flex;
    margin-top: 7px;
    justify-content: center;
    color:  #000580;
    text-decoration: underline;
    cursor: pointer;
    font-size: 19px;
}