.product-card {
    max-width: 20rem;
    height: 33rem;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 18rem;
    display: block;
    object-fit: cover;

}

.product_box h1 {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    color: #281d5b;
    cursor: pointer;
}

.product-card span {
    color: crimson;
    font-weight: bold;
}
.product_box p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 57px;
    overflow: hidden;
}

.row_btn {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.row_btn a {
    width: 50%;
    height: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    padding: .2em;
    padding-top: .5em;
    color: #dddddd;
}
#btn_buy {
    background: #3d2727;
    margin-right: .1em;
}
#btn_view {
    background: #1f4f3b;
    margin-left: .1em;
}